* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.intro {
    position: relative;
    width: 100%;
    height:100%;
    background-color: rgba(100,100,100,0.5);
    font-size: 22px
}
.intro .copy{
    position: relative;
    top: 14%;
    height: 60%;
    margin: 1.5em;
    padding: 25% .5em ;
    border: solid .3em white;
    text-align: center;
    color: white;
}
.intro .copy h1 {
    margin-bottom: .5em;
    line-height: 1;
    font-size: 150%;
    font-weight: 100;
    font-stretch: condensed;
}
.intro .copy p {
    font-size:80%;
    text-decoration: underline gray;
}
#BackGround{
    position:absolute;
    height: 200%;
    width: 100%;
    background-color: #202020;
    overflow: hidden;
    z-index: 1;
}
button{
    visibility: hidden;
    background-color: transparent;
    border: none;
}
#header{
    position:absolute;
    top:0;
    left: 0;
    height:4em;
    width:100%;
    padding: 1em;
    color: white;
    font-size: 1.2em;
    z-index: 10;
}
#header label{
    position: relative;
    top:-.7em;
}
#header img{
    height: 100%;
    margin-left: 5px;
}
#hbg{
    position: absolute;
    top: 0;
    right: .25em;
    padding: 0em;
    font-size: 3.2em;
    color: white;
    z-index: 11;
}
#menu{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(50,50,50,0.7);
    z-index: 20;
    transition-duration: .5s;
}
.hide{
    left:100%;
}
.show{
    left:0;
}
#menu .innerMenu{
    position: relative;
    top:0;
    width:50%;
    height: 100%;
    padding:0 10px;
    background-color: aqua;
    transition-duration: .5s;
    text-align: right;
    font-size:3em;
}
.show .innerMenu{
    left:50%;
}
.hide .innerMenu{
    left:0;
}
#menu ul{
    list-style: none;
    text-align: left;
    font-size: .5em;
}
#CrossFade {
  background: #fff;
  display: flex;
  align-items: flex-end;
  height: 50%;
  overflow: hidden;
  position: relative;
}
#CrossFade .cf {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.4);
  animation: CrossFade 24s infinite;
}
#CrossFade .cf:nth-child(3) {
  animation-delay: 6s;
}
#CrossFade .cf:nth-child(2) {
  animation-delay: 12s;
}
#CrossFade .cf:nth-child(1) {
  animation-delay: 18s;
}

@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}