* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.intro {
    position: relative;
    width: 100%;
    height:100%;
    background-color: rgba(100,100,100,0.5);
    font-size: 22px
}
.intro div{
    position: relative;
    top: 14%;
    height: 60%;
    margin: 1.5em;
    padding: 25% .5em ;
    border: solid .3em white;
    text-align: center;
    color: white;
}
.intro div h1 {
  margin-bottom: 0.5em;
  line-height: 1;
  font-size: 150%;
  font-weight: 100;
  font-stretch: condensed;
}
.intro div p {
    text-align: left;
    margin: 0 0.5em;
    text-decoration: underline gray;
}
#BackGround{
    position:absolute;
    height: 200%;
    width: 100%;
}

#CrossFade {
  background: #fff;
  display: flex;
  align-items: flex-end;
  height: 50%;
  overflow: hidden;
  position: relative;
}
#CrossFade img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.4);
  animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  animation-delay: 18s;
}

@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}