body{
    background-color: black;
    color:white;
}

header{
    position:sticky;
    top:0;
    background-color: rgba(0,0,0,0.8);
    padding: .3em;
    border-bottom-style:dashed;
    border-bottom-width: thin;
}
header h1{
    margin:0;
    font-size: 190%;
    font-family:serif;
}
header ul{
    list-style-type:none;
    display: flex;
    justify-content:space-around;
    margin: 0 10px;
    padding: 0;
    font-family:serif;
}

article>ul{
    list-style: none;
    padding:5px;
    font-family: serif;
    display: flex;
    flex-wrap:wrap;
    ;
    background-color: rgba(50,50,50,0.5);
}
article>ul>li{
    display: inline-block;
}
article>ul>li:first-child{
    font-size:1.5em;
    flex-grow: 1;
    flex-shrink:5;
    padding: .5em 0;
    
}
article>ul>li:nth-child(2){
    flex-grow: 4;
}
article>ul>li:nth-child(3){
    flex-grow: 4;
}
article>ul>li:nth-child(4){
    flex-grow: 4;
}
article>ul>li:nth-child(5){
    flex-grow: 4;
}
article>ul>li:nth-child(6){
    flex-grow: 4;
}
article>ul>li:nth-child(7){
    flex-grow: 4;
}
article>ul>li>div:first-child{
    color:beige;
    font-size: 1.5em
}
article>ul>li>div:last-child{
    margin-bottom: 2em;
}
article>ul>li>div:first-child::before{
    content: "â‘";
}